---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <section class="about-me-section">
    {{ content }}
  </section>

  <section class="appearances-section">
    {% if site.appearances.size > 0 %}
    {% assign sorted_appearances = site.appearances | reverse %}
    <h3 class="recent-title">Recent Appearances</h3>
    <hr class="dotted">

    <div class="panel">
      {% for appearance in sorted_appearances limit:6 %}
      <div class="panel-item">
        <a href="{{ appearance.url | relative_url }}">
          {% assign fullTitle = appearance.title | escape | split: "@" %}
          {% assign talkType = fullTitle[0] | scape %}
          {% assign eventTitle = fullTitle[1] | split: "." %}
          {% assign event = eventTitle[0] %}
          {% assign title = eventTitle[1] %}

          <p class="title"> {{ title }} </p>
          <div class="description">
            <p> at </p>
            <p> {{ event }} </p>
          </div>

          <div class="footer-container">
            <div class="footer-item">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              {{ appearance.date | date: '%b, %Y' }}
            </div>

            <div class="footer-item--tag">
              <span>
                {{ talkType }}
              </span>
            </div>

          </div>
        </a>
      </div>
      {% endfor %}
    </div>

    <p class="see-all">
      <a href="{{ '/appearances/' | relative_url }}">See all</a>
    </p>

    {% endif %}
  </section>

  <section class="projects-section">
    {% if site.projects.size > 0 %}
    <h3 class="recent-title">Recent Projects</h3>
    <hr class="dotted">
    <div class="panel">
      {% assign reverse_projects = site.projects | reverse %}
      {% for project in reverse_projects limit:5 %}
      <div class="panel-item">
        <a href="{{ project.url | relative_url }}">
          <p class="title"> {{ project.title | escape }} </p>

          <div class="description">
            <p> {{ project.description }} </p>
          </div>

          <div class="footer-container">
            <div class="footer-item">
              <i class="fa fa-tags"></i>
              {% for category in project.categories limit:5 %}
                {{ category }}
              {% endfor %}
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    <p class="see-all">
      <a href="{{ '/projects/' | relative_url }}">See all</a>
    </p>
    {% endif %}
  </section>

</div>
